<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Banned !</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('styles/banned.scss') }}">
    </head>
    <body>
        <div class="container">
            <h1>Banned !</h1>
            <p>You have been banned from this website.</p>
            <p>If you think this is a mistake, please contact the website administrator.</p>
        </div>
    </body>
</html>
