{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="login bg-card-image">
        <twig:FloatingBackground />

        <twig:BlackCard>
            <twig:ColorsHeader />
            <h2>Connexion</h2>

            {% if error %}
                <div class="alert">
                    <twig:UX:Icon name="ri:error-warning-line" />
                    <p>Identifiants incorrects. Veuillez vérifier vos nom d'utilisateur et mot de passe.</p>
                </div>
            {% endif %}

            <form method="post" id="login-form">
                <div class="form-section">
                    <label for="username">Nom d'utilisateur</label>
                    <div class="input-group">
                        <twig:UX:Icon name="lucide:mail" />
                        <input type="text" value="{{ last_username }}" name="_username" id="username" placeholder="test@example.com" autocomplete="username" required autofocus>
                    </div>
                </div>
                <div class="form-section">
                    <label for="password">Mot de passe</label>
                    <div class="input-group">
                        <twig:UX:Icon name="lucide:lock" />
                        <input type="password" name="_password" id="password" placeholder="••••••••" autocomplete="current-password" required>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>

            <twig:Button
                type="submit"
                form="login-form"
                text="Se connecter"
                iconLeft="lucide:log-in"
                variant="success"
            />
        </twig:BlackCard>
    </main>
{% endblock %}
