{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}
    <main class="login">
        <div class="container">
            <div class="gradient-bg"></div>
            <div class="card">
                <div class="card__content">
                    <div class="text-center">
                        <h1>Connexion</h1>
                    </div>

                    {% if error %}
                        <div class="alert">
                            <p>Identifiants invalides</p>
                        </div>
                    {% endif %}

                    <form method="post">
                        <input type="text" value="{{ last_username }}" name="_username" id="username" placeholder="Nom d'utilisateur" autocomplete="username" required autofocus>
                        <input type="password" name="_password" id="password" placeholder="Mot de passe" autocomplete="current-password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <button type="submit">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
