{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <main class="login bg-card-image">
        <twig:FloatingBackground />

        <twig:BlackCard>
            <twig:ColorsHeader />
            <h2>Connexion</h2>

            {% if error %}
                <div class="alert">
                    <p>Identifiants invalides</p>
                </div>
            {% endif %}

            <form method="post" id="login-form">
                <input type="text" value="{{ last_username }}" name="_username" id="username" placeholder="Nom d'utilisateur" autocomplete="username" required autofocus>
                <input type="password" name="_password" id="password" placeholder="Mot de passe" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </form>

            <button type="submit" form="login-form">Se connecter</button>
        </twig:BlackCard>
    </main>
{% endblock %}
