{% extends 'base.html.twig' %}

{# todo rendre beau #}
{% block body %}
    <main class="create bg-card-image">
        <div class="create__header">
            <h1>Créer une partie</h1>
            <p>Choisissez un mode de jeu</p>
        </div>
        <div class="create__content">
            <form method="POST" id="gameModeForm">
                <input type="hidden" name="gameMode" id="selectedMode" value=""/>
                <div class="description__list">
                    {% for mode in gameModes %}
                        {% set description = descriptions[mode.id] %}
                        <div class="description__container">
                            <div class="description__before"></div>
                            <a class="description__card" style="background-image: url('{{ description.img }}');"
                               onClick="handleClick('{{ mode.value.value }}')">
                                <p class="description__content">{{ mode.value.value|capitalize }}</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </main>
{% endblock %}
{% block endscript %}
    <script>
        const handleClick = (modeValue) => {
            const hiddenInput = document.getElementById('selectedMode');
            hiddenInput.value = modeValue;
            document.getElementById('gameModeForm').submit();
        }
    </script>
{% endblock %}
