{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    <main>
        <h1 class="text-center my-4 text-[30px]">Bievenue sur Kard.fr (non officiel)</h1>

        <div class="flex justify-center gap-1">
            {% include "components/ux/button.html.twig" with { 'href': path('app_login'), 'text': 'Se connecter' } %}
            <!--<button class="btn" href='{{ path('app_login') }}'><a href='{{ path('app_login') }}'>Se connecter</a></button>-->
            {% if app.user %}
                {% include "components/ux/button.html.twig" with { 'href': path('create'), 'text': 'Lancer une partie' } %}
            {% endif %}
        </div>
    </main>
{% endblock %}
