{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    <main class='home bg-card-image'>
        <twig:FloatingBackground />

        <twig:BlackCard>
            <twig:ColorsHeader />
            <h1>Bienvenue sur Kard</h1>
            <p>Le jeu de cartes en ligne</p>
            <div class="links">
                {% if app.user %}
                    <twig:Button
                        :href="path('create')"
                        text="Lancer une partie"
                        iconLeft="ri:play-circle-line"
                        variant="success"
                    />
                    <twig:Button
                        :href="path('app_logout')"
                        text="Se déconnecter"
                        iconLeft="lucide:log-out"
                        variant="danger"
                    />
                {% else %}
                    <twig:Button
                        :href="path('app_login')"
                        text="Se connecter"
                        iconLeft="lucide:log-in"
                        variant="success"
                    />
                {% endif %}
            </div>
        </twig:BlackCard>

        <section class="games">
            <div class="games-title">
                <twig:UX:Icon name="lucide:users" color="white" />
                <h2>Parties en cours</h2>
            </div>

            {% if currentGames is not empty %}
                <table>
                    <thead>
                        <tr>
                            <th>Mode de jeu</th>
                            <th>Propriétaire</th>
                            <th>Joueurs</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for game in currentGames %}
                            <tr>
                                <td>{{ game.gameMode.value.value|capitalize }}</td>
                                <td>{{ game.owner.username }}</td>
                                <td>{{ game.players.count }}</td>
                                <td>
                                    <twig:Button
                                        :href="path('waiting', {id: game.id})"
                                        text="Rejoindre"
                                        iconLeft="ri:arrow-right-s-line"
                                        size="small"
                                    />
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Il n'y a aucune partie en cours</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
