{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    <main class='home'>
        <h1>Bievenue sur Kard.fr (non officiel)</h1>

        <div class="btn__container">
            <a class="btn" href='{{ path('app_login') }}'>Se connecter</a>
            {% if app.user %}
                <a class="btn" href='{{ path('create') }}'>Lancer une partie</a>
            {% endif %}
        </div>
    </main>
{% endblock %}
