{% extends 'base.html.twig' %}

{% block title %}Accueil !{% endblock %}

{% block body %}
    <article class='home'>
        {# Background icons #}
        <header>
            <twig:UX:Icon name="ri:poker-spades-line" class="animate-float-slow spade" color="white" />
            <twig:UX:Icon name="ri:heart-line" class="animate-float-medium heart" color="white" />
            <twig:UX:Icon name="ri:poker-diamonds-line" class="animate-float-fast diamond" color="white" />
            <twig:UX:Icon name="ph:club" class="animate-float-medium club" color="white" />
        </header>

        <main>
            <ul class="card-colors">
                <li>
                    <twig:UX:Icon name="ri:poker-spades-line" color="#ef4444" />
                </li>
                <li>
                    <twig:UX:Icon name="ri:heart-line" color="white" />
                </li>
                <li>
                    <twig:UX:Icon name="ri:poker-diamonds-line" color="#ef4444" />
                </li>
                <li>
                    <twig:UX:Icon name="ph:club" color="white" />
                </li>
            </ul>
            <h1>Bienvenue sur Kard</h1>
            <p>Le jeu de cartes en ligne</p>
            <div class="links">
                {% if app.user %}
                    <twig:LinkButton
                        :href="path('create')"
                        text="Lancer une partie"
                        iconLeft="ri:play-circle-line"
                        variant="success"
                    />
                    <twig:LinkButton
                        :href="path('app_logout')"
                        text="Se déconnecter"
                        iconLeft="ic:outline-logout"
                        variant="danger"
                    />
                {% else %}
                    <twig:LinkButton :href="path('app_logout')" text="Se déconnecter" />
                {% endif %}
            </div>
        </main>

        <div class="home__content">
            <h2>Parties en cours</h2>

            <div class="home__content-games">
                {% if currentGames is not empty %}
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Mode de jeu</th>
                                <th scope="col">Propriétaire</th>
                                <th scope="col">Nombre de joueur</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for game in currentGames %}
                                <tr>
                                    <td>{{ game.gameMode.value.value|capitalize }}</td>
                                    <td>{{ game.owner.username }}</td>
                                    <td>{{ game.players.count }}</td>
                                    <td><btn><a class="btn" href="{{ path('waiting', {id: game.id}) }}">Rejoindre</a></btn></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Il n'y a aucune partie en cours</p>
                {% endif %}
            </div>
        </div>
    </article>
{% endblock %}
