{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <h1>Waiting !</h1>
    <div {{ turbo_stream_listen('waiting') }}></div> 
    <div id="player-join">
        {% for player in players %}
            {% include "components/turbo/player-join.html.twig" with {"player": player} %}
        {% endfor %}
    </div>
    {% if 1 %}
        <a href="{{ path('game_start', {'id': room.id}) }}" class="btn btn-primary">Start</a>
    {% endif %}
    <div {{ stimulus_controller('waiting') }}>
    </div>
{% endblock %}
{% block endscript %}
    <script type="application/json" id="mercure-url">
        {{ mercure('game-'~room.id)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
{% endblock %}
