<turbo-stream action='replace' target='placeholder-{{ player.id }}'>
    <template>
        <div class='played--card'>
            {{ include('components/model/_hidden-card.html.twig') }}
        </div>
    </template>
</turbo-stream>
