<turbo-stream action='append' target='player-join'>
    <template>
        <div class="player">
            {{ ux_icon('bi:person-fill') }}
            <h2>{{ player.name }}</h2>
        </div>
    </template>
</turbo-stream>
