<ul class="card-colors">
    <li>
        <twig:UX:Icon name="ri:poker-spades-line" color="#ef4444" />
    </li>
    <li>
        <twig:UX:Icon name="ri:heart-line" color="white" />
    </li>
    <li>
        <twig:UX:Icon name="ri:poker-diamonds-line" color="#ef4444" />
    </li>
    <li>
        <twig:UX:Icon name="ph:club" color="white" />
    </li>
</ul>
