<div class="floating-background">
    <twig:UX:Icon name="ri:poker-spades-line" class="animate-float-slow spade" color="white" />
    <twig:UX:Icon name="ri:heart-line" class="animate-float-medium heart" color="white" />
    <twig:UX:Icon name="ri:poker-diamonds-line" class="animate-float-fast diamond" color="white" />
    <twig:UX:Icon name="ph:club" class="animate-float-medium club" color="white" />
</div>
