@layer base {
  :root {
    // Text
    --text-gray: #d1d5db;
    --text-gray-accent: #9ca3af;
    --text-green: #22c55e;
    --text-green-light: #4ade80;
    --text-red: #ef4444;

    // Background
    --bg-green-accent: #16a34a;
  }
}
