// Components
@use 'components/entity/purchase';
@use 'components/model/hand';
@use 'components/turbo/player-join';
@use 'components/ui/black_card';
@use 'components/ui/button';
@use 'components/ui/colors_header';
@use 'components/ui/floating_background';
@use 'components/ui/link_button';

// Pages
@use 'pages/home/index';
@use 'pages/home/create';
@use 'pages/home/waiting';
@use 'pages/purchase/index' as p;
@use 'pages/security/login';

// Layout
@use 'layout/layers';
@use 'layout/utilities';
@use 'layout/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
