// Components
@use 'components/entity/purchase';
@use 'components/model/hand';
@use 'components/turbo/player-join';
@use 'components/ui/button';
@use 'components/ui/link_button';

// Pages
@use 'pages/home/index';
@use 'pages/home/create';
@use 'pages/home/waiting';
@use 'pages/purchase/index' as p;
@use 'pages/security/login';

// Layout
@use 'layout/layers';
@use 'layout/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
