// Components
@use 'components/ui/button';
@use 'components/model/hand';
@use 'components/turbo/player-join';

// Pages
@use 'pages/home/index';
@use 'pages/home/waiting';
@use 'pages/security/login';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

