.bottom {
  position:fixed;
  bottom:0px;
  width:100%;
}

#middle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;

  .played--card {
    margin-top: 50px;
  }
}

.game {
  background-color: green;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  &__left {
    width: 10%;
  }

  &__right {
    width: 90%;
  }
}
