.bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

#middle {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-evenly;

  .played--card {
    margin-top: 50px;
  }
}

.game {
  background-color: var(--bg-game-card);
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: inset 0 0 15rem 1rem rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  &__left {
    width: 10%;
  }

  &__right {
    width: 100%;
  }

  .middle {
    position: relative;
    top: 25%
  }
}
