.card {
    width: 100px;
    padding-left: 10px;

    img {
        object-fit: contain;
        width: 173px;
        border-radius: 0.5rem;
        border: 1px solid black;
    }
}

.sortable-drag .card {
    width: auto;
}
